{extend name="common@base/common" /}
{block name="body"}
        <style>
            .form-inline select{
               margin: 0;
               height:30px;
            }
            .form-group input{
                margin-bottom: 0;
            }
            .page_tips {
              border: 0!important;
              margin: 20px 20px 5px 20px;
            }
            pre{ display: none;}
        </style>

  <div class="page_message">
    <section id="contents"> {include file="common@base/_nav" /}
      <div class="table-bar">
        <div class="fl">
          <div class="tools">
              <a href="{:U ( 'weixin/UserCenter/add')}" class="btn">新 增</a>
          </div>
        </div>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
          <div class="sleft">
            <input type="text" placeholder="请输入用户名搜索" value="{$search_key}" class="search-input" name="key">
            <a id="search" href="javascript:;" class="sch-btn"><i class="btn-search"></i></a> </div>
        </div>
        <!-- 多维过滤 -->
      </div>


      <!-- 数据列表 -->
      <div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                <th>用户名</th>
                <th>公司名</th>
                <th>手机号码</th>
                <th>邮箱</th>
                <th>审核状态</th>
                <th>状态</th>
                <th>余额</th>
                <th>单价</th>
                <th>操作</th>
              </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
              {volist name="list_data" id="vo"}
                <tr>
                  <td>{$vo.nickname}</td>
                  <td>{$vo.truename}</td>
                  <td>{$vo.mobile}</td>
                  <td>{$vo.email}</td>
			      <td>{$vo.is_audit}</td>
                  <td>{$vo.status|raw}</td>
                  <td>{$vo.score|fen_to_yuan}</td>
                  <td>{$vo.price|fen_to_yuan}</td>
                  <td>
                  <a class="set_remark" rel="{$vo.uid}">充值</a>
                  <a href="{:U ( 'weixin/UserCenter/edit',array('uid'=>$vo['uid']))}" target="_self">编辑</a>
                    <a class="set_passwd" rel="{$vo.uid}">重置密码</a>

                    {neq name="vo.is_audit_db" value="1"}
                    <a class="set_audit" rel="{$vo.uid}">通过审核</a>
                    <a class="set_reason" rel="{$vo.uid}">不通过审核</a>
                    {/neq}

                  <a href="{:U('code/CodeMoney/lists',array('uid'=>$vo['uid']))}" target="_self">消费明细</a>
                    <a href="{:U('enter',array('uid'=>$vo['uid']))}" target="_self">管理</a>
                  </td>
                </tr>
              {/volist}
            </tbody>
          </table>
        </div>
      </div>
      <div class="page"> {$_page|raw|default=''} </div>
    </section>
  </div>
<!-- 备注用户名 -->
<div class="remark_html" style="display:none">
    <div class="manage_group normal_dialog">
        <div class="content">
            <input name="remark" id="set_remark" value="" placeholder="请输入充值金额" class="text" type="number"  />
            <div class="btn_wrap"><button class="btn setting_remark" url="{:U('set_remark')}">确定</button></div>
        </div>
    </div>
</div>

<!-- 重置密码 -->
<div class="passwd_html" style="display:none">
  <div class="manage_group normal_dialog">
    <div class="content">
      <input name="remark" id="set_passwd" value="" placeholder="请输入新密码" class="text"  />
      <div class="btn_wrap"><button class="btn setting_remark" url="{:U('set_passwd')}">确定</button></div>
    </div>
  </div>
</div>

<!-- 不通过的原因 -->
<div class="reason_html" style="display:none">
  <div class="manage_group normal_dialog">
    <div class="content">
      <input name="reason" id="set_reason" value="" placeholder="请输入不通过的原因" class="text"  />
      <div class="btn_wrap"><button class="btn setting_reason" url="{:U('set_reason')}">确定</button></div>
    </div>
  </div>
</div>
{/block}
{block name="script"}

  <script type="text/javascript">
$(function(){

	//search_type搜索功能
  $("#search").click(function(){
    var url = "{:U ( 'weixin/UserCenter/lists',['key'=>'s_key','type'=>$type])}";
    var key = $('[name="key"]').val();
    url = url.replace('s_key',key);

    url = url.replace(/[?&=]/g,'/');
		window.location.href = url;
  });

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('.set_remark').click(function(){
        var html = $($('.remark_html').html());
        var uid = $(this).attr('rel');
        $.Dialog.open('账号充值',{width:300,height:160},html);
        $('button',html).click(function(){
            that = this;
            query = "uid="+uid+"&score="+$('#set_remark', html).val() ;
            $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
            $.post("{:U('set_score')}",query).success(function(data){
                if(data.code==1){
                    layer.msg(data.msg);
                    $(that).removeClass('disabled').attr('autocomplete','off').prop('disabled',false);
                }else{
                    location.reload();
                    $('.thinkbox-modal-blackout-default,.thinkbox-default').hide();
                }
            });
        })
    })
    $('.set_passwd').click(function(){
        var html = $($('.passwd_html').html());
        var uid = $(this).attr('rel');
        $.Dialog.open('重置密码',{width:300,height:160},html);
        $('button',html).click(function(){
            that = this;
            query = "uid="+uid+"&passwd="+$('#set_passwd', html).val() ;
            $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
            $.post("{:U('set_passwd')}",query).success(function(data){
                location.reload();
                $('.thinkbox-modal-blackout-default,.thinkbox-default').hide();
            });
        })
    })
    $('.set_reason').click(function(){
        var html = $($('.reason_html').html());
        var uid = $(this).attr('rel');
        $.Dialog.open('审核不通过的原因',{width:300,height:160},html);
        $('button',html).click(function(){
            that = this;
            query = "uid="+uid+"&reason="+$('#set_reason', html).val() ;
            $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
            $.post("{:U('set_reason')}",query).success(function(data){
                location.reload();
                $('.thinkbox-modal-blackout-default,.thinkbox-default').hide();
            });
        })
    })
    $('.set_audit').click(function(){
        var uid = $(this).attr('rel');
        layer.load();
        $.post("{:U('set_audit')}",{uid}).success(function(data){
            location.reload();
        });
    })

    $('.set_status').click(function(){
        var uid = $(this).attr('rel');
        layer.load();
        $.post("{:U('set_status')}",{uid}).success(function(data){
            location.reload();
        });
    })
})
</script>
{/block}
