<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta content="bctos，宝塔安装" name="keywords"/>
    <meta content="宝塔安装介绍" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>宝塔安装</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}"/>
    <link href="__STATIC__/font-awesome/css/font-awesome.min.css?v={:SITE_VERSION}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>

    <link href="__CSS__/bt/reset.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/bt/common.css?4.0149" rel="stylesheet" type="text/css">

       
       <style>
		.yaoqing{
			height:90px;
			width:100%;
			line-height:88px;
			text-align:center;
			background-color:#20a53a;
			margin:0 0 50px;
		}
		.yaoqing p{
			font-family:"微软雅黑";
			font-size:25px;
			color:#fff;
			display:inline-block;
			margin-right:30px;
		}
		.yaoqing a{
			display:inline-block;
			height:36px;
			width:150px;
			background-color:#FFFF00;
			text-align:center;
			line-height:36px;
			color:#FF2626;
			font-size:16px;
			border-radius:3px;
			vertical-align:3px;
		}
		.yaoqing a:hover{
			background-color:#FFe000;
		}
	</style>
       
</head>
<body>
{include file="index/_head" /}
<div class="body">   
	<div class="main">      			      		
		<div style="min-width:1040px">
			<div class="banner layout" style="min-height: 200px; margin-top: 70px;">
				<h3 class="title" style="width:422px">宝塔Linux面板 6.9免费版<span class="free">永久免费</span><span class="time">2019/4/24</span></h3>
				<div class="downBtn">
					<span><a href="http://27.50.161.190:8888" target="_blank">查看演示</a></span>
					<span class="on"><a href="https://www.bt.cn/bbs/thread-19376-1-1.html" target="_blank">立即安装</a></span>
					<!-- <span><a href="https://wpa.qq.com/msgrd?v=3&uin=8632278&site=qq&menu=yes" target="_blank"><img src="https://pub.idqqimg.com/qconn/wpa/button/button_old_41.gif" style="margin-right:5px;vertical-align: -1px;">付费咨询</a></span> -->
				</div>
	          	<p style="text-align: center; margin-bottom: 5px; margin-top: -13px; font-size: 14px; color: #888;">
				  <a href="https://www.bt.cn/invite" target="_blank" style="color:red">立即成为宝塔邀请大使，帮助他人同时自己还能赚钱。</a>
			</p>
				<div class="showtitle">2分钟装好面板，一键管理服务器</div>
				<div class="softtxt">
					Linux版请确保纯净系统安装(建议系统CentOS7.1+、Ubuntu16.04+、Debian9.0+)，Web端管理，QQ群及论坛技术支持<br>一键LAMP/LNMP、创建网站FTP、数据库、SSL；安全管理，计划任务，文件管理，PHP多版本共存及切换，一键开启Tomcat环境
					<!-- Linux版请确保纯净系统安装(支持CentOS、Ubuntu、Debian、Fedora、Deepin)，Web端管理，QQ群及论坛技术支持 -->
				</div>
			</div>
			<div class="preview">
				<div class="linux"><img src="__IMG__/linux_pc_free.png"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="function white"> 
			<div class="layout">
				<div class="yaoqing"><p>免费加入宝塔邀请大使，帮助他人同时还能赚钱</p><a href="https://www.bt.cn/invite" target="_blank">立即免费加入</a></div>
				<h3 class="title">极速方便的一键配置与管理</h3>
				<p class="subinfo">免除繁琐的命令行操作，通过Web面板一键即可操作实现</p>
				<div class="onekeycon">
					<ul>
						<li><span class="wow bounce" style="line-height: 34px; padding-top: 46px; height: 158px; visibility: visible; animation-name: bounce;">LAMP<br>LNMP</span><p>可选择安装lamp或者lnmp环境</p></li>
						<li><span class="wow bounce" style="visibility: visible; animation-name: bounce;">网站</span><p>可创建及管理网站</p></li>
						<li><span class="wow bounce" style="visibility: visible; animation-name: bounce;">数据库</span><p>可创建及管理数据库</p></li>
						<li><span class="wow bounce" style="visibility: visible; animation-name: bounce;">FTP</span><p>可创建及管理FTP</p></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="function">
			<div class="layout">
				<h3 class="title">更多的一键整合，力求给用户最佳操作体验</h3>
				<p class="subinfo">网站的更多的配置修改整合进同一层级，一键即可切换管理使用</p>
				<div class="onekeycon-more">
					<ul>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="visibility: visible;">伪静态</span><p  onmouseleave="hidep(this)" style="padding-top:45px;">整合常用开源程序伪静态规则，方便您切换使用</p></li>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="visibility: visible;">301</span><p  onmouseleave="hidep(this)" >可整站301或者独立域名301</p></li>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="visibility: visible;">SSL</span><p onmouseleave="hidep(this)"  style="padding-top:40px;">自动获取Let's Encrypt免费证书或者设置其他证书</p></li>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="visibility: visible;">子目录</span><p onmouseleave="hidep(this)" >方便设置域名绑定子目录</p></li>
		              	<li><span  onmouseover="showp(this)" class="wow bounce" style="visibility: visible;">Tomcat</span><p onmouseleave="hidep(this)" >支持一键开启tomcat环境</p></li>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="line-height: 34px; padding-top: 46px; height: 158px; visibility: visible;">定期<br>备份</span><p onmouseleave="hidep(this)" >在计划任务可快速创建定期备份</p></li>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="line-height: 34px; padding-top: 46px; height: 158px; visibility: visible;">反向<br>代理</span><p onmouseleave="hidep(this)" >非常方便的网址反向代理设置</p></li>
						<li><span  onmouseover="showp(this)" class="wow bounce" style="line-height: 34px; padding-top: 46px; height: 158px; visibility: visible;">PHP<br>切换</span><p onmouseleave="hidep(this)" >一键切换php版本，支持扩展安装卸载</p></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="function white">
			<div class="layout">
				<div class="tab-tit">
					<span class="on" onclick="tab_change(this,'tab-con1')">系统安全</span>
					<span  onclick="tab_change(this,'tab-con2')">系统监控</span>
					<span  onclick="tab_change(this,'tab-con3')">计划任务</span>
					<span  onclick="tab_change(this,'tab-con4')">软件管理</span>
					<span  onclick="tab_change(this,'tab-con5')">文件管理</span>
				</div>
				<div class="tab-wrap">
					<div class="tab-con" id="tab-con1" style="display: block;">
						<div class="tab-con-info">
							<p>提供SSH开启关闭服务，SSH端口更改，禁ping，防火墙端口放行以及操作日志查看。</p>
						</div>
						<div class="tab-con-img"><img src="__IMG__/zt-pic1.png"></div>
					</div>
					<div class="tab-con" id="tab-con2">
						<div class="tab-con-info">
							<p>CPU、内存、磁盘IO、网络IO数据监测，可设置记录保存天数以及任意查看某天数据。</p>
						</div>
						<div class="tab-con-img"><img src="__IMG__/zt-pic2.png"></div>
					</div>
					<div class="tab-con" id="tab-con3">
						<div class="tab-con-info">
							<p>计划任务可按周期添加执行，支持SHELL脚本，提供网站、数据库备份以及日志切割。</p>
						</div>
						<div class="tab-con-img"><img src="__IMG__/zt-pic3.png"></div>
					</div>
					<div class="tab-con" id="tab-con4">
						<div class="tab-con-info">
							<p>通过web界面就可以轻松管理安装所用的服务器软件，还有扩展插件。</p>
						</div>
						<div class="tab-con-img"><img src="__IMG__/zt-pic4.png"></div>
					</div>
					<div class="tab-con" id="tab-con5">
						<div class="tab-con-info">
							<p>方便高效的文件管理器，支持上传、下载、打包、解压以及文件编辑查看。</p>
						</div>
						<div class="tab-con-img"><img src="__IMG__/zt-pic5.png"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="function">
			<div class="layout">
		      	<!--<div class="qtitle">正式版发布公告<a href="https://www.bt.cn/bbs/thread-6749-1-1.html" target="_blank">查看公告 &gt;&gt;</a></div>
				<blockquote class="faq">
					<p>2017年3月8日发布全新架构的宝塔Linux 面板3.1Beta版，到现在的5.4.0正式版发布，历经100多天打磨，宝塔研发工程师做了大量优化适配，从最开始的只支持CentOS到现在支持CentOS、Ubuntu、Debian、Fedora、Deepin，宝塔Linux面板5.4正式版于10月22日正式发布。</p>
					<p>为了把更多精力用在研发功能上，从现在开始，我们在更新周期上做了分割，把宝塔Linux面板划分为正式版和内测版，内测版依旧为每周更新，正式版为每月更新。</p>
				</blockquote>-->
				<div class="qtitle">系统要求</div>
				<blockquote class="faq">
					<p>操作系统：全新系统(支持CentOS、Ubuntu、Debian、Fedora、Deepin)，</p>
					<p style="text-indent:5em; color:red">确保是干净的操作系统，没有安装过其它环境带的Apache/Nginx/php/MySQL</p>
					<p style="text-indent:5em; color:red">宝塔Linux6.0版本是基于centos7开发的，强烈建议使用centos7.x 系统</p><p>
					</p><p>内存要求：内存要求最低512MB，推荐768MB以上，纯面板约占系统60MB内存</p>
				</blockquote>
				<div class="qtitle">安装方法<a href="https://www.bt.cn/bbs/thread-19376-1-1.html" target="_blank">查看详细教程 &gt;&gt;</a></div>
				<blockquote class="faq">
					<p>使用 SSH 连接工具，如<a href="https://www.bt.cn/update/net/BtMstsc.exe" class="link">宝塔远程桌面助手</a>连接到您的 Linux 服务器后，<a href="https://www.bt.cn/bbs/thread-5166-1-1.html" class="link" target="_blank">挂载磁盘</a>，根据系统执行相应命令开始安装（大约2分钟完成面板安装）： </p>
					Centos安装脚本 <code class="code">yum install -y wget &amp;&amp; wget -O install.sh http://download.bt.cn/install/install_6.0.sh &amp;&amp; sh install.sh</code><br>
		          	Ubuntu/Deepin安装脚本 <code class="code">wget -O install.sh http://download.bt.cn/install/install-ubuntu_6.0.sh &amp;&amp; sudo bash install.sh</code><br>
		          	Debian安装脚本 <code class="code">wget -O install.sh http://download.bt.cn/install/install-ubuntu_6.0.sh &amp;&amp; bash install.sh</code><br>
		          	Fedora安装脚本 <code class="code">wget -O install.sh http://download.bt.cn/install/install_6.0.sh &amp;&amp; bash install.sh</code>
				</blockquote>
			</div>		
		</div>
	</div>   
</div>
{include file="index/_footer" /}
</body>
<script>
	function tab_change(_this,tab){
		$('.tab-tit').find('span').removeClass('on');
		$(_this).addClass('on');
		$('.tab-con').hide();
		$('#'+tab).show();
	}
	function showp(_this){
		$(_this).siblings(":first").show();
	}
	function hidep(_this){
		$(_this).hide();
	}
	$(function(){
		 // 鼠标移入移出事件
        $('.bounce').hover(function() {
        	
            // 鼠标移入时添加hover类
            //
            //$(this).hide();
        }, function() {
            // 鼠标移出时移出hover类
            //$(this).show();
            //console.log(111)
             //$(this).siblings(":first").hide();
        });
	});
</script>
 
</html>

