<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>小韦云科技</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/animate.min.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/iconfont.css">
</head>

<body id="moar">
{include file="index/_head" /}

<!--end-->
<section class="banner">
    <div id="owl-banner" class="owl-carousel owl-theme">
        <div class="item" style="background:url(__IMG__/1-1P3200Z1570-L.jpg)">
            <a><img src="__IMG__/banner-height.gif" class="center-block" alt="幻灯3" /></a>
        </div>
        <!--<div class="item" style="background:url(__IMG__/1-1P3200Z2100-L.jpg)">
            <a><img src="__IMG__/banner-height.gif" class="center-block" alt="幻灯3" /></a>
        </div>-->

    </div>
</section>
<!--end-->

<section class="case sx-jianju">
    <div class="container text-center">
        <div class="home-title wow animated fadeInUp">
            <h2 class="h-h2-white"> 我们是谁？ </h2>
            <h></h>
            <p class="m-sm-white"> Who Are We </p>
            <h4 class="m-sm-white m-sm-white1"> 小韦云是一家以成就客户为宗旨的科技公司，拥有自主研发的小韦区块链底层操作系统；有如小韦加密云笔记，金融云票据等行业落地平台。
                我们使用区块链等前沿技术为各行业客户提供专业的解决方案。 </h4>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
                <figure>
                    <a href="javascript:;" title="滨海幸福里"><img src="__IMG__/1-1P3201024310-L.png"  />
                        <figcaption>
                            <h3>成本低廉<span>使用自主深度优化的区块链，能为您节省大量服务器成本</span></h3>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
                <figure>
                    <a href="javascript:;" title="中国铁塔"><img src="__IMG__/1-1P320102J30-L.png"  />
                        <figcaption>
                            <h3>快速交付<span>基于我们自主研发的区块链系统，开发周期短，能为您快速完成开发和部署</span></h3>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
                <figure>
                    <a href="javascript:;" title="广州医疗美容会所"><img src="__IMG__/1-1P3201211110-L.png"  />
                        <figcaption>
                            <h3>技术雄厚<span>开发团队拥有十几年软件开发经验，拥有全栈开发能力，精通GO，PHP，网站，公众号，小程序，APP开发</span></h3>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
                <figure>
                    <a href="javascript:;" title="生物岛办公室装修"><img src="__IMG__/1-1P3201211380-L.png"  />
                        <figcaption>
                            <h3>质量可靠<span>拥有完善的项目流程管理，保证软件交付质量，提供试运营期，先使用后付费</span></h3>
                        </figcaption>
                    </a>
                </figure>
            </div>

        </div>

    </div>
</section>
<!--end-->


<section class="tixi sx-jianju">
    <div class="container text-center">
        <div class="home-title wow animated fadeInUp">
            <h2 class="h-h2-white"> 能为您做什么 </h2>
            <h></h>
            <p class="m-sm-white"> What Can We Do For You </p>

        </div>
        <div class="row system dfsfxx">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp fadeInUp-le12">
                <figure>
                    <p class="ico"> <span>01</span><span></span></p>
                    <p class="yuanxin"> 免费提供区块链或软件开发方面的咨询，估价服务</p>
                </figure>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp fadeInUp-le15">
                <figure>
                    <p class="ico"> <span>02</span><span></span></p>
                    <p class="yuanxin">免费提供各垂直行业的软件解决方案</p>
                </figure>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
                <figure>
                    <p class="ico"> <span>03</span><span></span></p>
                    <p class="yuanxin">基于我们的核心区块链系统，提供公有链，联盟链或私有链的高质量定制开发服务</p>
                </figure>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp float-r">
                <figure>
                    <p class="ico"> <span>04</span><span></span></p>
                    <p class="yuanxin">团队来自ThinkSNS和WeiPHP，能为您提供专业的网站建设，公众号小程序开发服务</p>
                </figure>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp fadeInUp-le12">
                <figure>
                    <p class="ico"> <span>05</span><span></span></p>
                    <p class="yuanxin">官网提供如云加密笔记等在线平台，可直接注册登录使用</p>
                </figure>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp fadeInUp-le15">
                <figure>
                    <p class="ico"> <span>06</span><span></span></p>
                    <p class="yuanxin">如果您是开发者，官网提供区块链开发入门教程，由我们的技术大拿亲自讲解</p>
                </figure>
            </div>

        </div>
    </div>
</section>
<!--end-->
<section class="about sx-jianju text-center" style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
                <div class="home-title wow animated fadeInUp">
                    <h2 class="h-h2-white"> 怎么联系我们 </h2>
                    <h></h>
                    <p class="m-sm-white"> How To Contact Us </p>
                </div>
                <div class="row shuju">
                    <form class="leave-message" method="post" action="{:U('feedback/feedback/add')}">
                        <h3>给我们留言</h3>
                        <div class="flex-justify">
                            <input  placeholder="您的姓名"  height="100%" name="truename"  />
                            <input  placeholder="您的联系方式"  height="100%" name="mobile"  />
                            <input  placeholder="您的邮箱"  height="100%" name="email"  />
                            <input  placeholder="您的公司"  height="100%" name="company"  />
                            <textarea class="dsfss" name="content" cols="30" rows="10" placeholder="请输入您的需求内容"></textarea>
                        </div>
                        <button class="submit ajax-post" id="submit" type="submit">提交信息</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end-->
<!--end-->
<section class="about about1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
                <div class="home-title wow animated fadeInUp">
                    <h4> 无论是商业合作，方案探讨还是技术交流，请联系我们 </h4>
                </div>
                <div class="row shuju col-xs-12 col-sm-8 col-md-8 col-lg-8 wow animated fadeInUp shuju1">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow animated fadeInUp">
                        <figure class="contact">
                            <figcaption>
                                <span class="iconfont icon-dianhua"></span>
                                <h3>电话</h3>
                                <p>18123611282</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow animated fadeInUp">
                        <figure class="contact1">
                            <figcaption>
                                <span class="iconfont icon-weixin"></span>
                                <h3>微信</h3>
                                <p>timeweitime</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow animated fadeInUp">
                        <figure class="contact2">
                            <figcaption>
                                <span class="iconfont icon-youjian"></span>
                                <h3>邮件</h3>
                                <p>xw@bctos.cn</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wow animated fadeInUp">
                        <figure class="contact3">
                            <figcaption>
                                <span class="iconfont icon-weixingongzhonghao"></span>
                                <h3>公众号</h3>
                                <p>微信搜索“小韦云”</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row shuju col-xs-12 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp shuju1">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow animated fadeInUp">
                        <figure class="contact4">
                            <figcaption>
                                <span class="iconfont icon-qq"></span>
                                <h3>或者加入我们QQ交流群</h3>
                                <p>小韦区块链开发交流群：884210423</p>
                                <p>Fabric 入门学习交流群：876814448</p>
                                <p> 小程序开发交流群：446546828</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end-->
<section class="news sx-jianju">
    <div class="container text-center">
        <div class="home-title wow animated fadeInUp">
            <h2 class="h-h2-white"> 我们的最新研究  </h2>
            <h></h>
            <p class="m-sm-white"> Our Latest Research </p>
        </div>
        <div class="row">
            {volist name="newsLists" id="vo"}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wow animated fadeInUp">
                <dl class="dl-horizontal">
                    <dt class="cssa274b01dd50cc">{$vo.addtime|time_format='m-d'}<span>{$vo.addtime|time_format='Y'}</span></dt>
                    <dd>
                        <h3><a href="{:SITE_URL}/doc/{$vo.item_id}/{$vo.page_id}" title="{$vo.page_title}">{$vo.page_title}</a> <img src="__IMG__/new.gif" alt="{$vo.page_title}"/></h3>
                        <p class="hg-2">{$vo.page_desc}</p>
                    </dd>
                </dl>
            </div>
            {/volist}
        </div>
    </div>
    
</section>
{include file="index/_footer" /}
</body>

</html>