<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta content="区块链定制开发，小程序定制开发，公众号定制开发，微信定制开发，商城定制开发" name="keywords"/>
    <meta content="小韦云是一家以成就客户为宗旨的科技公司，拥有自主研发的小韦区块链底层操作系统；有如金融云票据等行业落地平台。 我们使用区块链等前沿技术为各行业客户提供专业的解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>区块链定制开发服务-小韦云科技为您提供高质量高品质的开发服务</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link href="__STATIC__/font-awesome/css/font-awesome.min.css?v={:SITE_VERSION}" rel="stylesheet">

    <link rel="stylesheet" href="__CSS__/all.min.css">
    <link rel="stylesheet" href="__CSS__/quick-website.css">
    
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/animate.min.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/iconfont.css">
   
</head>

<style>
.integration1 h1,.integration1 h6{ color: #fff;}
.integration1{ width: 50%;text-align: center;  padding-top:9%; margin: 0 auto;}
.integration1 h1{ margin-bottom: 50px;}
.integration1 h6 p{ font-size: 17px; text-align: left; margin-top: 20px;text-indent:2em;line-height: 30px;}
.service.one1{ margin-top: 65px;}
.card-body{ text-align: center;}
.ff00{ background-color: #ffe8e8;height: 130px;}
.ff001{ background-color: #d2eafb;height: 130px;}
.lead{ font-size: 18px;}
.container01 .card{ padding: 20px 0 20px 40px;}
.container01 .text-xl{ font-size: 18px !important;}
.container01 .text-lg{ font-size: 16px !important;margin-top: 6px;}
.icon-shape svg{ width: 20px; height: 20px;}
.container01 .icon-shape{ width: 40px;  height: 40px; font-size: 30px;}
.container01 .icon-shape svg{ width: 20px; height: 20px;}
.container .mt-5 img{ width: 200px;height: 460px; margin: 0 20px;}
.container01 .mt-5 img{ width: 80% !important; height: 100% !important;margin: 0 !important;}
.h4{ line-height: 30px;}
.text-muted{ line-height: 20px;}
.container02 .mt-5 img{ width: 70%; margin: 0 auto;}
.container02 .mt-5{margin: 0 auto;}
.container02 .card{ height: 150px;}
.container02 .p-3{ padding: 30px !important;}
</style>



<body id="moar">
{include file="index/_head" /}
<div class="body">
    <div class="service one one1">
        <div class="integration1">
            <h1>直播打卡挑战赛系统</h1>
            <h6><p>首先用户可以通过手机端打开，“直播打卡挑战赛系统”首页上会按最新排列出最近的活动。用户可以在这里选择参与对应的挑战赛。点“立即参与”就可以参与到挑战赛中来，按发起人的要求输入口令，即为打卡成功。也可以分享给好友让大家现起参与进来。</p>
            </h6>
           <!-- <button class="btn" data-toggle="modal" data-target="#myModal">立即定制</button>-->
        </div>
        
    </div>
    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
        <div class="container">
            <!-- Title -->
            <!-- Section title -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6">
                    
                    <h2 class=" mt-4">直播打卡挑战系统解决行业痛点</h2>
                    
                </div>
            </div>
            <!-- Card -->
            <div class="row mt-5">
            	<div class="col-md-3">
                    <div class="card ff00">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">行业痛点</h5>
                            <p class="text-muted mb-0">平台方可以篡改数据</p>
                        </div>
                    </div>
               </div>
                <div class="col-md-3">
                    <div class="card ff00">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">行业痛点</h5>
                            <p class="text-muted mb-0">抽奖中奖作假</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ff00">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">行业痛点</h5>
                            <p class="text-muted mb-0">平台有预谋的跑路骗局风险</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ff00">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">行业痛点</h5>
                            <p class="text-muted mb-0">用户不信任</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
            	<div class="col-md-3">
                    <div class="card ff001">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">区块链解决方案</h5>
                            <p class="text-muted mb-0">区块链“不可篡改”</p>
                        </div>
                    </div>
               </div>
                <div class="col-md-3">
                    <div class="card ff001">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">区块链解决方案</h5>
                            <p class="text-muted mb-0">代码“上链”（确保抽奖的中奖机制是公平的）</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ff001">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">区块链解决方案</h5>
                            <p class="text-muted mb-0">记录相关数据让平台不会跑路，数据上链可以找到相应的负责人</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ff001">
                        <div class="card-body pb-5">
                            
                            <h5 class="h4 lh-130 mb-3 c-666">区块链解决方案</h5>
                            <p class="text-muted mb-0">区块链“让用户对平台放心、信任”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="py-6">
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-5 order-lg-2">
                        <h5 class="h4">现在有众多的公众号，小程序，APP。都在以打卡为一个标准，纷纷推出各种各样的打卡活动。</h5>
                       
                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h5 mb-0">例如“跑步打卡”相信很多人都不会陌生，“跑步打卡”挑战赛的运营模式基本上都是通过前一天投入押金参与比赛，第二天在规定时间完成，约定好的跑步公里数，以跑步公里数来完成打卡的挑战者，可以分红未打卡成功者所交的押金。但现在的系统不管是APP还是公众号，小程序。其实组织者是可以自己幕后操纵的，前天通过篡改数据，提升分润诱惑，引导更多人加入，次日同样也可以修改数据，减少分红奖金，这里面收益最多的是组织者赚的“差价”，而很多参与者都被蒙在鼓里。</span>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                   
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-store-alt"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h5 mb-0">2020年从一开始就注定是不平凡的一年，大规模疫情的爆发改变了很多人的生活。给整个中国社会蒙上了一层阴霾，对整个商业环境也是一次严重的打击。也是对商家的一种考验，随后“直播带货”就火起来了。看过各种商家的直播带货，在直播时各种商家用来引流的方式，除了价格便宜，就是以抽奖的方式来引流用户了。问过很多人对商家所谓的抽奖都是抱着一种不信任的态度，直播里的抽奖就是更加的不信任了，商家为了解决这种不信任的问题在直播时更是采用截屏的方式来进行抽奖。</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="card mb-0 mr-lg-5">
                            <div class="card-body p-2">
                                <img src="__IMG__/dfsdh.png"  />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-6">
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-5">
                       
                        
                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h5 mb-0">现在我们的 “直播打卡挑战系统” 是一种新颖的模式，主要用来解决商家直播时与用户的互动、引流、抽奖、的一种方案。首先先由商家或者发起人，在“直播打卡挑战赛系统”里发起打卡约定。不管是让用户投入押金参与比赛，还是商家自己准备奖金，让用户参与比赛，只要用户按约定打卡成功，就让打卡成功的全部用户瓜分奖金。打卡的方式以口令为主，商家可以把口令设置是商品名称，或者更有趣味的把口令设置为成语，猜谜等等。在直播过程中就可以给用户出一道谜语，让客户参与猜谜。让用户可以更有趣味和参与感。
</span>
                                    </div>
                                </div>
                            </li>
                            
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-store-alt"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h5 mb-0">当然“直播打卡挑战赛系统”要通过“区块链不可篡改”的技术，来解决用户不信任商家、平台方的一种技术手段。从商家发起活动，到用户参与、打卡、瓜分奖金，都通过区块链技术记录，在瓜分奖金时更是直接通过区块链智能合约技术，直接下发奖金给用户。
</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-0 ml-lg-5">
                            <div class="card-body p-2">
                               <img src="__IMG__/dsfs.png"  />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="slice slice-lg bg-section-secondary">
        <div class="container container02">
            <div class="row mx-lg-n4">
            	 <div class="mt-5 mb-5 text-center">
                <p class="mb-2">
                   <img src="__IMG__/rfsfsf01 (9).png"  />                  
                </p>            
            </div>
                <div class="col-lg-12 col-md-6 px-lg-4">
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                    <svg  width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                </div>
                            </div>
                            <div class="ml-3">
                                <span class="text-xl">首页</span>
                                <p class="text-lg text-muted mb-0">
                                  首先用户可以通过手机端打开，“直播打卡挑战赛系统”首页（图1）首页上会按最新排列出最近的活动。用户可以在这里选择参与对应的挑战赛。在（图2）中“立即参与”就可以参与到挑战赛中来，按发起人的要求输入口令，即为打卡成功。也可以分享给好友让大家现起参与进来。
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 px-lg-4">
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                    <svg  width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                </div>
                            </div>
                            <div class="ml-3">
                                <span class="text-xl">个人中心</span>
                                <p class="text-lg text-muted mb-0">
                                    用户也可以在“个人中心”里发起活动，按（图2）要求填写相应的信息
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 px-lg-4">
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                    <svg  width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                </div>
                            </div>
                            <div class="ml-3">
                                <span class="text-xl">发布活动-上链</span>
                                <p class="text-lg text-muted mb-0">
                                   按要求填写完信息后，点击上链，该活动就发布成功，发起可以拿把该活动分享出去给用户参与。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                       
            </div>
        </div>
    </section>
    
    
    <section class="slice slice-lg">
        <div class="container text-center container01">
            <div class="row justify-content-center mb-6">
                <div class="col-lg-8">
                    <h2 class="h2 strong-600" style="margin-bottom: 30px;"> 系统功能框架 </h2>
                    <p class="text-muted" style="font-size: 15px; line-height: 30px;">
                       系统支持多前端展示。</p>

 <p class="text-muted" style="font-size: 15px; line-height: 30px;">在区块链部署通过nodejs服务
为后端PHP提供多区块链一致的
调用接口</p>

 <p class="text-muted" style="font-size: 15px; line-height: 30px;">合约部分提供的功能都是一致的
只是由于golang和solidity语言的
差异，在实现上有很大的不同

                    </p>
                </div>
            </div>
            <div class="mt-5 text-center">
                <p class="mb-2">
                   <img src="__IMG__/rfsfsf01 (8).png"  />                  
                </p>            
            </div>
        </div>
    </section>
    <section class="slice slice-lg bg-section-secondary">
        <div class="container text-center container01">
            <div class="row justify-content-center mb-6">
                <div class="col-lg-10">
                    <h2 class="h2 strong-600" style="margin-bottom: 30px;"> 系统关键业务逻辑 </h2>
                    <p class="text-muted" style="font-size: 15px; line-height: 30px;">
                       在平台中，注册的用户可以自行
发起一个活动，因此主播与用户
的身份是相通的，用户既可作为
主播发布活动，也可以参与活动</p>

 <p class="text-muted" style="font-size: 15px; line-height: 30px;">主播在发布活动时规则什么时间
段内可以到哪个直播间获取到打
卡口令，用户在这个时间段内打
卡是有效的，其它时间无效</p>

 <p class="text-muted" style="font-size: 15px; line-height: 30px;">用户打卡失败，其支付的参与金
将作为分配的奖金分配给打卡成
功的用户，主播为了吸引用户也
可以自己追加主播奖金或让用户
免费参与

                    </p>
                </div>
            </div>
            <div class="mt-5 text-center">
                <p class="mb-2">
                   <img src="__IMG__/rfsfsf01 (1).png"  />
                   
                </p>
            
            </div>
        </div>
    </section>
    

</div>
{include file="index/_footer" /}

<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="contact getqrcode">
            <img src="__IMG__/oweb/code.jpg">
            <span>扫码联系我们</span>
        </div>
    </div><!-- /.modal -->
</div>
<script>
    $(document).ready(function(){
        var width = $(window).width();
        var docwidth = $(document).width();
        var height = width;
        $(".service").css({'width' : width, 'height': height * 0.4});
        $(".head").css('width',width);
        $(".foot").css('width',width);
        $(window).resize(function () {
            var width = $(window).width();
            var height = width;
            $(".service").css({'width' : width, 'height': height * 0.4});
            $(".head").css('width',width);
            $(".foot").css('width',width);
        })
    })
</script>
</body>
</html>