<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta content="区块链定制开发，小程序定制开发，公众号定制开发，微信定制开发，商城定制开发" name="keywords"/>
    <meta content="小韦云是一家以成就客户为宗旨的科技公司，拥有自主研发的小韦区块链底层操作系统；有如金融云票据等行业落地平台。 我们使用区块链等前沿技术为各行业客户提供专业的解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>区块链定制开发服务-小韦云科技为您提供高质量高品质的开发服务</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link href="__STATIC__/font-awesome/css/font-awesome.min.css?v={:SITE_VERSION}" rel="stylesheet">

    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/animate.min.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/iconfont.css">
</head>

<style>
.integration h1,.integration h6{ color: #fff;}
.integration .btn{ background-color: #e46b04; font-size: 16px;}
</style>



<body id="moar">
{include file="index/_head" /}
<div class="body">
    <div class="service one">
        <div class="integration">
            <h1>一体化定制服务</h1>
            <h6>专业、快速、全方面一体化服务，专注微信开发、公众号开发、小程序开发，满足各种定制需求使用自研小韦云区块链开发框架，开发迅速。提供多行业解决方案，微商城、微营销，为您高效引流，强大的团队技术支持，您有想法，我们帮您实现理想。
            </h6>
            <button class="btn" data-toggle="modal" data-target="#myModal">立即定制</button>
        </div>
        <div class="contact getqrcode">
            <img src="__IMG__/oweb/code.jpg"><br>
            <span>18123611282</span><br>
            <span>专属客服,为您一对一服务</span>
        </div>
    </div>
    <div class="service two">
        <div class="bubbles bubbles1">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        <div class="business_header">
            <span>业务</span>
        </div>
        <div class="business">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/icon01.jpg">
                        <h5 class="card-title">微信公众号/小程序</h5>
                        <p class="business_imformation">
                专业的微信服务平台，功能强大，轻松实现精准需求提供微商城、公众号开发、小程序开发、微信开发等多行业一体化微信营销解决方案</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/icon02.jpg">
                        <h5 class="card-title">微商城</h5>
                        <p class="business_imformation">多种营销工具为你高效引流一个后台即可用于小程序商城和公众号商城高效运营</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/icon03.jpg">
                        <h5 class="card-title">区块链+解决方案</h5>
                        <p class="business_imformation">多年互联网经验，全行业解决方案覆盖我们总有一款能解决你行业痛点连接海量互联网用户的方案</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service three">
        <div class="bubbles bubbles2">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        <div class="advantage_header">
            <span>我们的优势</span>
        </div>
        <div class="advantage">
            <div class="card-group">

                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon1.jpg">
                    <div class="card-body">
                        <p>进度完全可控</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon2.jpg">
                    <div class="card-body">
                        <p>无延期风险</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon3.jpg">
                    <div class="card-body">
                        <p>高性价比</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon4.jpg">
                    <div class="card-body">
                        <p>提供成熟方案</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon5.jpg">
                    <div class="card-body">
                        <p>更优惠价格</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon6.jpg">
                    <div class="card-body">
                        <span>丰富的互联网经验</span>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon7.jpg">
                    <div class="card-body">
                        <p>完善的售后服务</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon8.jpg">
                    <div class="card-body">
                        <p>售前一对一咨询</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <div class="service four" style="display: none;">
        <div class="bubbles bubbles3">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>

        </div>
    </div>
</div>
{include file="index/_footer" /}

<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="contact getqrcode">
            <img src="__IMG__/oweb/code.jpg">
            <span>扫码联系我们</span>
        </div>
    </div><!-- /.modal -->
</div>
<script>
    $(document).ready(function(){
        var width = $(window).width();
        var docwidth = $(document).width();
        var height = width;
        $(".service").css({'width' : width, 'height': height * 0.4});
        $(".head").css('width',width);
        $(".foot").css('width',width);
        $(window).resize(function () {
            var width = $(window).width();
            var height = width;
            $(".service").css({'width' : width, 'height': height * 0.4});
            $(".head").css('width',width);
            $(".foot").css('width',width);
        })
    })
</script>
</body>
</html>