[client]

[mysqld]
default_storage_engine = InnoDB
performance_schema_max_table_instances = -1
table_definition_cache = 1400
skip_external_locking = ON
key_buffer_size = 8M
max_allowed_packet = 4194304
table_open_cache = 2000
sort_buffer_size = 256K
net_buffer_length = 4K
read_buffer_size = 128K
read_rnd_buffer_size = 256K
myisam_sort_buffer_size = 8M
thread_cache_size = 9

tmp_table_size = 16M
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES


skip_name_resolve = ON
max_connections = 500
max_connect_errors = 100
open_files_limit = 1048576

# 开启 binlog
log_bin = mysql-bin
# 选择 ROW 模式
binlog_format = ROW
server_id = 0
expire_logs_days = 10
slow_query_log = ON
slow_query_log_file = /var/lib/mysql/mysql55-slow.log
long_query_time = 3
log_queries_not_using_indexes = OFF

innodb_data_file_path = ibdata1:12M:autoextend
innodb_buffer_pool_size = 16M
innodb_log_file_size = 5M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_max_dirty_pages_pct = 90
innodb_read_io_threads = 4
innodb_write_io_threads = 4

[mysqldump]
quick
max_allowed_packet = 500M

[mysql]

[myisamchk]
key_buffer_size = 8388608
sort_buffer_size = 262144
read_buffer = 131072
write_buffer = 2M

[mysqlhotcopy]
interactive_timeout = 28800