
{extend name="common@base/common_menu" /}
{block name="body"}
  <div class="page_message">
  <section id="contents"> {include file="common@base/_nav" /}
    <div class="tab-content">
      <!-- 表单 -->
      {php} isset($post_url) || $post_url = U('add?model='.$model['id'], $get_param);{/php}
      <form id="form" action="{$post_url}" method="post" class="form-horizontal form-center layui-form" lay-filter="xw-form">
        {include file="common@base/_form" /}
        <div class="form-item form_bh">
          <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">{$submit_name|default='确 定'}</button>
        </div>
      </form>

    </div>


  </section>
  </div>
{/block}