{extend name="common@base/common" /}

{block name="body"}
    <!-- 标签页导航 -->
<div class="wrap">

    <div class="tab-content">
    <!-- 表单 -->
    {php} isset($post_url) || $post_url = U('edit?model='.$model['id']);{/php}
    <form id="form" action="{$post_url}" method="post" class="form-horizontal layui-form" lay-filter="xw-form">

            {include file="common@base/_form" /}

        <div class="form-item cf">
            <input type="hidden" name="id" value="{$data.id|default=0}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
{/block}
