{volist name="data" id="vo"}
	{php}if($vo['type'] == 3):{/php}
    <div id="ad_{$vo.id}" class="banner-container">
        <div class="swiper-wrapper">
        	{volist name="vo.content" id="v"}
            	<div class="swiper-slide"><a href="{$v.url}"><img src="{$v.bannerpic}" /></a></div>
            {/volist}
        </div>
        {php}if(!empty($vo['content'])):{/php}
            <div class="banner-pagination"></div>
            <script type="text/javascript">
			(function(){
				var w = $(window).width();
				var h = w*374/730;
				$('#ad_{$vo.id}').width(w).height(h);
				var swiper = new Swiper('#ad_{$vo.id}', {
					pagination: '.banner-pagination',
					slidesPerView: 1,
					paginationClickable: true,
					loop: true,
					autoplay:3000
				});
			})();
			
            </script>
		{php}endif;{/php}
        
    </div>
	{php}endif;{/php}
{/volist}

