{extend name="common@base/common" /}
{block name="body"}
        <style>
            .left{
                text-align: center;
                width:15%;
                height:40px;
                background-color:#3376b5;
                border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            }
            .right{
                padding-left: 10px;
                width:35%;
                height:40px;
                border-bottom:1px solid rgba(51, 118, 181,0.3);
            }

            td font{
                color:white;
            }
            .right-right{
                border-right: 1px solid rgba(51, 118, 181,0.3);
            }
        </style>
  <div class="page_message">
    <section id="contents">
    {include file="common@base/_nav" /}

      <div class="tab-content">
        <!-- 表单 -->

          <ul id="tab" class="tab-pane in" style="width: 90%;margin: 3% 5%;border-radius:5px">
              <li class="form-item cf" style="width:100%">
              <table width="80%" style="margin-left: 10%;border-collapse:separate; border-spacing:0;">
                  <tr>
                      <td class="left"><font>公司名称</font></td>
                      <td class="right right-right" style="border-top: 1px solid rgba(51, 118, 181,0.3);">{$info.truename}</td>
                  </tr>
                  <tr>
                      <td class="left"><font>余额(￥)</font></td>
                      <td class="right right-right">{$info.score|fen_to_yuan}</td>

                  </tr>
                  <tr>
                      <td class="left"><font>单价(￥)</font></font></td>
                      <td class="right right-right">{$myinfo.price|fen_to_yuan}</td>
                  </tr>
                  <tr>
                      <td class="left"><font>总张数</font></td>
                      <td class="right right-right">{:floor($info.score/$myinfo.price)}</td>

                  </tr>

              </table>
              </li>
              </ul>
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center">
                    <button class="layui-btn" onclick="tips()">充 值</button>
                </div>
            </div>

      </div>
    </section>
  </div>
<style>
    .tips{ display: none; padding: 20px 30px; background-color: #fff;}
</style>
<div class="tips" id="tips">{$recharge_tips|raw}</div>
<script>
    function tips( ){
        layer.open({
            type: 1,
            content: $('.tips'),
            area: ['700px', '700px']
        });
    };

</script>
{/block}
