{extend name="common@base/common" /} {block name="body"}
<style>
    tbody td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #contents {
        padding-top: .1px;
    }

    .page_message {
        font-size: 12px;
        margin: 10px;
    }

    .red {
        color: red;
    }
</style>
<div class="page_message">
    <section id="contents">
        <div class="layui-form-mid layui-word-aux">
            安装或卸载扩展可能需要几分钟到十几分钟，请耐心等待
        </div>
        <!-- 数据列表 -->
        <div class="data-table">
            <div class="table-striped">
                <table cellspacing="1" style="table-layout: fixed">
                    <!-- 表头 -->
                    <thead>
                    <tr>
                        <th width="100">扩展名</th>
                        <th>说明</th>
                        <th width="50">操作</th>
                    </tr>
                    </thead>

                    <!-- 列表 -->
                    <tbody class="ext-list">
                    {volist name="lists" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>{$vo.intro}</td>
                        <td>{$vo.url|raw}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-mid layui-word-aux">
            请按实际需求安装扩展,不要安装不必要的PHP扩展,这会影响PHP执行效率,甚至出现异常<br/>
            opcache/xcache/apc等脚本缓存扩展,请只安装其中1个,否则可能导致您的站点程序异常<br/>
        </div>
    </section>
</div>

{/block} {block name="script"}
<script type="text/javascript">
    var lock = false
    var _this, type, ext, index, time
    $(function () {
        $('.ext-list a').click(function () {
            if (lock == true) return false;
            lock = true
            index = layer.load();
            _this = $(this)
            ext = _this.attr('rel')
            type = _this.hasClass('red') ? 'uninstall' : 'install';
            $.post("{:U('php_ext')}", {type, ext, id:"{$data.id}"})
            time = window.setInterval(check, 1500);
            return false;
        })
    })

    function check() {
        $.post("{:U('php_ext_check')}", {type, ext, id:"{$data.id}"}, function (res) {
            if (res == 'ok') {
                layer.close(index);
                window.clearInterval(time);
                if (type == 'install') {
                    layer.msg('安装成功');
                    _this.addClass('red').html('卸载')
                } else {
                    layer.msg('卸载成功');
                    _this.removeClass('red').html('安装')
                }

                lock = false
            }
        })
    }
</script>
{/block}