{extend name="common@base/common" /} {block name="body"}

<div class="page_message">

</div>
{/block} {block name="script"}
<script src='__STATIC__/base/js/socket.io.js'></script>
<script>
    var layer_index = ''
    // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
    var socket = io('http://{:SSH_IP}:2120');
    // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
    uid = 1;
    // socket连接后以uid登录
    socket.on('connect', function () {
        socket.emit('login', uid);
    });
    var old_msg = ''
    // 后端推送来消息时
    socket.on('new_msg', function (msg) {
        console.log("收到消息：" + msg);
        msg = msg.trim()
    });
</script>
{/block}