<!-- 提示 -->
<div id="top-alert" class="top-alert-tips alert-error" style="display: none;">
  <a class="close" href="javascript:;"><b class="fa fa-times-circle"></b></a>
  <div class="alert-content"></div>
</div>


<!-- 导航条
================================================== -->
{if !input('?only_body') && !empty($top_menu['core_top_menu']) }
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="wrap">

       <!--<a class="brand" title="{:config('app.WEB_SITE_TITLE')}" href="{:U('home/index/main')}">
       		<img height="52" src="__STATIC__/base/images/logo.png"/>
       </a>-->
      {php} $index_2 = parse_name(MODULE_NAME) . '/' . parse_name(CONTROLLER_NAME) . '/*' ; $index_3 = parse_name(MODULE_NAME) . '/' . parse_name(CONTROLLER_NAME) . '/' . parse_name(ACTION_NAME ); {/php}

            <div class="top_nav">
                {if condition="is_login()"}
                    <ul class="nav" style="margin-right:0">
                        {volist name="top_menu.core_top_menu" id="vo"}
                    	<li class="{$vo.class}"><a href="{$vo.url}" target="{$vo.target}">{$vo.title}</a></li>
                        {/volist}
                        {php}if(session('admin_enter')) { {/php}
                        <li><a href="{:U('weixin/UserCenter/back')}">超级管理后台</a></li>
                        {php} }{/php}
                    </ul>
                {/if}
            </div>
        </div>
</div>
{/if}
{if !input('?only_body') && empty($top_menu['core_top_menu']) }
<div style="padding-bottom: 20px"></div>
{/if}