{extend name="common@base/common" /} {block name="body"}
<style>
    .layui-form{
        padding: 20px 10px;
    }
    .layui-form-label{
        width: 100px;
    }
</style>
<div class="page_message">
    <section id="contents">
        <form class="layui-form" action="{:U('deploy')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">链码目录</label>
                <div class="layui-input-block">
                    [你的fabric-samples目录]/chaincode/<input style="width: 200px" type="text" name="path" required  lay-verify="required" placeholder="链码的目录路径" value="{$data.path|default=''}" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">请把链码提前上传到指定的chaincode目录下</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">链码名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required  lay-verify="required" placeholder="链码英文名称，如fabcar" value="{$data.name|default=''}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">链码语言</label>
                <div class="layui-input-block">
                    <input type="radio" name="lang" value="golang" title="golang" {eq name="data.lang" value="golang"}checked{/eq}>
                    <input type="radio" name="lang" value="javascript" title="javascript" {eq name="data.lang" value="javascript"}checked{/eq}>
                    <input type="radio" name="lang" value="java" title="java" {eq name="data.lang" value="java"}checked{/eq}>
                    <input type="radio" name="lang" value="typescript" title="typescript" {eq name="data.lang" value="typescript"}checked{/eq}>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <a class="layui-btn layui-btn-primary" href="{:U('deploy?type=default&only_body=1')}">使用示例链码</a>
                </div>
            </div>
        </form>

        <script>
            //Demo
            layui.use('form', function(){
                var form = layui.form;

                //监听提交
                form.on('submit(formDemo)', function(data){
                    if(!data.field.path){
                        layer.msg('请先填写链码目录');
                        return false;
                    }
                    if(!data.field.name){
                        layer.msg('请先填写链码名称');
                        return false;
                    }

                    $('#terminal_2',window.parent.document)[0].contentWindow.deploy(data.field)
                    $.post("{:U('deploy')}", data.field);

                    //当你在iframe页面关闭自身时
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    return false;
                });
            });
        </script>
    </section>
</div>
{/block}