{extend name="common@base/common" /} {block name="body"}
<style>
    #contents {
        padding-top: .1px;
    }

    .btn {
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 6px;
        padding: 10px 25px;
        margin-right: 25px;
    }

    .btn03 {
        background-color: #46ce3d;
        color: #fff;
    }

    .btn01 {
        background-color: #08ade6;
        color: #fff;
    }

    .btn02 {
        background-color: #fd969d;
        color: #fff;
    }

    .shell {
        font-size: small;
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
        border-style: none;
    }
</style>
<div class="page_message">
    <section id="contents">
        <!-- 数据列表 -->
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md4">
                <h3>终端1-开发网络</h3>
                <div id="not_running" style="display: none">
                    <div class="btn">待启动</div>
                    <button class="btn btn03" onclick="exec('dev_start_net')">一键启动</button>
                </div>
                <div id="is_running" style="display: none">
                    <div class="btn">运行中</div>
                    <button class="btn btn02" onclick="exec('dev_close_net')">关闭网络</button>
                </div>
                <iframe class="shell" id="terminal_1" src="{:U('terminal_1')}"></iframe>
            </div>
            <div class="layui-col-md4">
                <h3>终端2-编译链码</h3>
                <button class="btn btn03 up-after block-deploy" style="display: none">部署链码</button>
                <iframe class="shell" id="terminal_2" src="{:U('terminal_2')}"></iframe>
            </div>
            <div class="layui-col-md4">
                <h3>终端3-调试链码</h3>
                <button class="btn btn03 up-after block-test" style="display: none">测试链码</button>
                <iframe class="shell" id="terminal_3" src="{:U('terminal_3')}"></iframe>
            </div>
        </div>
    </section>
</div>
{/block} {block name="script"}
<script src='http://cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
<script>
    // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
    var socket = io('http://{:SSH_IP}:2120');
    // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
    uid = 1;
    // socket连接后以uid登录
    socket.on('connect', function () {
        socket.emit('login', uid);
    });
    var old_msg = ''
    // 后端推送来消息时
    socket.on('new_msg', function (msg) {
        msg = msg.trim()
        if (old_msg != msg) {
            console.log("收到消息：" + msg);
            old_msg = msg
            if (msg == 'is running') {
                $('#not_running').hide()
                $('#is_running').show()
                $('.up-after').show()

                $('#terminal_2')[0].contentWindow.exec('docker exec -it chaincode sh')
                $('#terminal_3')[0].contentWindow.exec('docker exec -it cli bash')
            } else {
                $('#not_running').show()
                $('#is_running').hide()
                $('.up-after').hide()
            }
        }


    });
</script>
<script type="text/javascript">
    function exec(param) {
        $('#terminal_1')[0].contentWindow.exec(param)
    }

    $(function () {
        $('.block-deploy').click(function () {
            layer.open({
                type: 2,
                title: '部署链码',
                area: ['600px', '400px'],
                content: "{:U('deploy?only_body=1')}"
            });
        })
        $('.block-test').click(function () {
            layer.open({
                type: 2,
                title: '测试链码',
                area: ['600px', '710px'],
                content: "{:U('test?only_body=1')}"
            });
        })
    })

    var wSocket = new WebSocket("ws:{:SSH_IP}:2100");

    function ConnectServer() {
        wSocket.send(JSON.stringify({"auth": {}}));
    }

    wSocket.onopen = function (event) {
        ConnectServer()
        window.setInterval(function () {
            wSocket.send(JSON.stringify({"get": "dev_check_status"}));
        }, 700);
    };
    wSocket.onmessage = function (event) {
        var received_msg = event.data;
        console.log("数据已接收...");
    };

    wSocket.onerror = function (event) {
        alert("Connection Closed");
    }

    function sendData(data) {
        //var dataSend = {"data":{"data":data}};
        var dataSend = {"line": data};
        wSocket.send(JSON.stringify(dataSend));
    }
</script>
{/block}