{extend name="common@base/common" /} {block name="body"}
<style>
    .form-group select {
        margin-left: 0;
    }

    .col-lg-8 .uploadrow2 {
        margin-left: -15px;
    }

    .layui-form-label {
        width: auto;
    }

    .layui-input, .layui-form-select {
        max-width: 500px;
    }

    .input-samll {
        max-width: 200px;
    }

    .upload_file {
        padding-left: 0;
    }

    .layui-form {
        display: none;
    }
    .db-set-show {
        display: none;
    }
</style>
<div class="page_message">
    <section id="contents"> {include file="common@base/_nav" /}
        <div class="tab-content">
            <!-- 表单 -->
            {php} isset($post_url) || $post_url = U('add?model='.$model['id'], $get_param);{/php}
            <form id="form" action="{$post_url}" method="post" class="form-horizontal form-center layui-form" lay-filter="xw-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="need_flag">*</span> 域名 </label>
                    <div class="layui-input-block">
                        <textarea name="domain" class="layui-textarea" placeholder="每个域名一行，默认为80端口&#10;泛解析添加如：*.domain.com&#10;如需加端口格式为：www.bctos.cn:8080"></textarea>
                    </div>
                </div>

                <div class="layui-form-item" style="display: none">
                    <label class="layui-form-label">网站目录 </label>
                    <div class="layui-input-block">
                        <input type="hidden" class="layui-input" name="path" value="/bctos/wwwroot/">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">数据库 </label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline">
                            <select name="database" lay-filter="database">
                                <option value="not" selected="">不创建</option>
                                {volist name="dbs" id="vo"}
                                <option value="{$vo}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline db-set-show">
                            <select name="db_set" lay-filter="db_set">
                                <option value="utf8mb4" selected="">utf8mb4</option>
                                <option value="utf8">utf8</option>
                                <option value="gbk">gbk</option>
                                <option value="big5">big5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item db-set-show">
                    <label class="layui-form-label">数据库设置 </label>
                    <div class="layui-input-block">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline" style="width: 120px"><input type="text" class="layui-input" name="db_user" value=""></div>
                        <div class="layui-form-label">密码</div>
                        <div class="layui-input-inline" style="width: 150px"><input type="text" class="layui-input" name="db_passwd" value="{$db_passwd}"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">PHP版本 </label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline">
                            <select name="php_version" lay-filter="php_version">
                                <option value="not" selected="">不需PHP</option>
                                {volist name="phps" id="vo"}
                                <option value="{$vo}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注 </label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="remark" value="" placeholder="网站备注">
                    </div>
                </div>
                <div>
                    <div class="offset-sm-2 col-sm-8">
                        <button class="layui-btn layui-btn-normal  ajax-post iframe" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                    </div>
                </div>


            </form>
        </div>
    </section>
</div>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
        var old_val = ''
        $('.layui-textarea').bind('input propertychange', function () {
            var val = $(this).val()
            var arr = val.split("\n");
            arr = arr[0].split(":");
            if ('/bctos/wwwroot/' + old_val == $("input[name='path']").val()) {
                $("input[name='path']").val('/bctos/wwwroot/' + arr[0])
                $("input[name='db_user']").val(arr[0].replace(/\./g, "_"));
                old_val = arr[0]
            }
        });
        change_form(0);
        $('.layui-form').show();
        layui.form.on('select', function (data) {
            change_form(1);
        });
    });

    //控制动态字段的显示与隐藏
    function change_form(type) {
        var post = form.val("xw-form");
        if(post.database=='not'){
            $('.db-set-show').hide()
        }else{
            $('.db-set-show').show()
        }
        if (type == 1) {
            parent.layer.iframeAuto(parent.layer_index)
        }
    }
</script>
{/block}